streamlit==1.35.0
pennylane==0.36.0
pennylane-qiskit==0.24.0
qiskit==0.41.0
qiskit-aer==0.11.2
qiskit-ibm-provider==0.4.0
scikit-learn==1.5.0
numpy==1.23.5
pandas==2.2.2
matplotlib==3.9.0
tensorflow==2.16.1
torch==2.3.0
transformers==4.41.1
google-api-python-client==2.131.0
pylatexenc==2.10
